@using MovieLibrary.Models.Models;
@model Cinema
@{
    ViewData["Title"] = "Удалить студию";
}

<div class="form-group text-center">
    <h2>
        Вы уверены, что хотите удалить выбранную студию?
    </h2>
</div>
<div class="container">
    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
        <div class="text-center my-2">
            <img class="rounded-circle image-default-size" src="~/@Model.Image.ImagePath" />
        </div>
        <h1 class="text-center">@Model.Name</h1>
        <div class="my-2">
            <h4>Описание</h4>
            <p>@Model.Description</p>
        </div>
        <div class="my-2">
            <form asp-action="DeleteConfirmed">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Удалить" class="btn btn-danger float-end" />
                <a class="btn btn-outline-secondary" asp-action="Index">Отменить</a>
            </form>
        </div>
    </div>
</div>
