@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<div class="container">
    <h1 class="text-danger">Произошла ошибка.</h1>
    <p style="font-size: 36px;>@ViewBag.ExceptionMessage</p>
    <p">Приносим извинения за неудобства. Попробуйте снова или вернитесь на  <a href="/">главную страницу</a>.</p>
</div>