@using MovieLibrary.Models.Models;
@model Director
@{
    ViewData["Title"] = "Delete director";
}

<div class="text-center">
    <h2>
        Are you sure you want to delete the following director?
    </h2>
</div>
<div class="container">
    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
        <div class="text-center my-2">
            <img class="rounded-circle image-default-size" src="~/@Model.Image.ImagePath" />
        </div>
        <h1 class="text-center">@Model.FullName</h1>
        <div class="my-2">
            <h4>Bio</h4>
            <p>@Model.Bio</p>
        </div>
        <div class="my-2">
            <form asp-action="DeleteConfirmed">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Confirm" class="btn btn-danger float-end" />
                <a class="btn btn-outline-secondary" asp-action="Index">Cancel</a>
            </form>
        </div>
    </div>
</div>
