<div class="row mt-5">
    <div class="p-5 col-md-6 offset-md-3 col-sm-8 offset-sm-2 alert-success rounded text-center">
        <h2>
            Аккаунт создан успешно!
        </h2>
        <a class="btn btn-success btn-lg" asp-action="Login">
            Войти
        </a>
    </div>
</div>